@import url("http://fonts.googleapis.com/css?family=Lato");
@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Oxygen");
@font-face{font-family:'icomoon';src:url("../fonts/icomoon.eot?-kwg7kr");src:url("../fonts/icomoon.eot?#iefix-kwg7kr") format('embedded-opentype'),url("../fonts/icomoon.woff?-kwg7kr") format('woff'),url("../fonts/icomoon.ttf?-kwg7kr") format('truetype'),url("../fonts/icomoon.svg?-kwg7kr#icomoon") format('svg');font-weight:normal;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-envelope:before{content:"\e600"}
.icon-facebook:before{content:"\e601"}
.icon-twitter:before{content:"\e602"}
.icon-github:before{content:"\e603"}
.icon-linkedin:before{content:"\e604"}
.icon-arrow-right:before{content:"\e605"}
@font-face{font-family:'fontello';src:url("../fonts/fontello.eot?13745629");src:url("../fonts/fontello.eot?13745629#iefix") format('embedded-opentype'),url("../fonts/fontello.woff?13745629") format('woff'),url("../fonts/fontello.ttf?13745629") format('truetype'),url("../fonts/fontello.svg?13745629#fontello") format('svg');font-weight:normal;font-style:normal}
[class^="iconf-"]:before,[class*=" iconf-"]:before{font-family:"fontello";font-style:normal;font-weight:normal;speak:none;display:inline-block;text-decoration:inherit;width:1em;margin-right:.2em;text-align:center;font-variant:normal;text-transform:none;line-height:1em;margin-left:.2em;}
.iconf-users-1:before{content:'\e820'}
.iconf-mail:before{content:'\e815'}
.iconf-cog:before{content:'\e801'}
.iconf-cog-alt:before{content:'\e822'}
.iconf-lightbulb:before{content:'\e802'}
.iconf-down-open:before{content:'\e806'}
.iconf-left-open:before{content:'\e803'}
.iconf-right-open:before{content:'\e804'}
.iconf-up-open:before{content:'\e805'}
.iconf-angle-double-left:before{content:'\e807'}
.iconf-angle-double-right:before{content:'\e808'}
.iconf-angle-double-up:before{content:'\e80a'}
.iconf-angle-double-down:before{content:'\e809'}
.iconf-megaphone:before{content:'\e80d'}
.iconf-rocket:before{content:'\e80b'}
.iconf-bug:before{content:'\e80c'}
.iconf-magic:before{content:'\e80e'}
.iconf-code:before{content:'\e800'}
.iconf-html5:before{content:'\e819'}
.iconf-user-1:before{content:'\e81b'}
.iconf-brush:before{content:'\e811'}
.iconf-chart-line:before{content:'\e810'}
.iconf-megaphone-1:before{content:'\e81a'}
.iconf-users:before{content:'\e81e'}
.iconf-user:before{content:'\e812'}
.iconf-quote-left:before{content:'\e817'}
.iconf-quote-right:before{content:'\e818'}
.iconf-layers-alt:before{content:'\e813'}
.iconf-easel:before{content:'\e821'}
.iconf-mail-1:before{content:'\e816'}
.iconf-user-2:before{content:'\e81c'}
.iconf-html5-1:before{content:'\e81f'}
.iconf-guest:before{content:'\e81d'}
.iconf-child:before{content:'\e814'}
.iconf-puzzle:before{content:'\e80f'}
a{text-decoration:none !important}
body{background:#e8e8e8;color:#444;font-family:'Oxygen',sans-serif;font-size:16px}
footer{margin-top:1em;border-top:3px #000 solid;padding:2em 0 1em 0;bottom:0;}
footer h2{color:#000;padding:0;margin:0}
footer h3{color:#22bce0;padding:0;margin:0}
footer .message{margin-top:1em;color:#000;text-align:justify;}
footer .message ul{list-style:none;padding-left:20%;padding-right:15%;}
footer .message ul li{display:inline-block;}
footer .message ul li a{padding:0 1em 0 1em;color:#000;text-decoration:none;font-size:24px;}
footer .message ul li a:hover .icon-facebook{color:#45619d}
footer .message ul li a:hover .icon-linkedin{color:#0073b2}
footer .message ul li a:hover .icon-twitter{color:#22bce0}
footer .contactform{padding-top:1em;}
footer .contactform .col-sm-6{margin-top:.5em}
footer .contactform textarea{margin-top:.5em;resize:none}
footer .contactform .btndv{float:right;}
footer .contactform .btndv .btn{border:none;font-family:inherit;font-size:inherit;color:inherit;cursor:pointer;padding:15px 50px;display:inline-block;margin:15px 0;text-transform:uppercase;letter-spacing:1px;font-weight:700;outline:none;position:relative;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s;}
footer .contactform .btndv .btn:after{content:"";position:absolute;z-index:-1;-webkit-transition:all .3s;-moz-transition:all .3s;transition:all .3s}
footer .contactform .btndv .btn:before{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;position:relative;-webkit-font-smoothing:antialiased}
footer .contactform .btndv .btn-3{background:#fcad26;color:#fff;}
footer .contactform .btndv .btn-3:hover{background:#f29e0d}
footer .contactform .btndv .btn-3:active{background:#f58500;top:2px}
footer .contactform .btndv .btn-3:before{position:absolute;height:100%;left:0;top:0;line-height:3;font-size:140%;width:60px}
footer .contactform .btndv .btn-3e{padding:15px 90px 15px 50px;overflow:hidden;}
footer .contactform .btndv .btn-3e:before{left:auto;right:10px;top:-8px;z-index:2}
footer .contactform .btndv .btn-3e:after{width:30%;height:200%;background:rgba(255,255,255,0.1);z-index:1;right:0;top:0;margin:-5px 0 0 -5px;-webkit-transform-origin:0 0;-webkit-transform:rotate(-20deg);-moz-transform-origin:0 0;-moz-transform:rotate(-20deg);-ms-transform-origin:0 0;-ms-transform:rotate(-20deg);transform-origin:0 0;transform:rotate(-20deg)}
footer .contactform .btndv .btn-3e:hover:after{width:40%;background:rgba(255,255,255,0.1);height:200%;background:rgba(255,255,255,0.1);z-index:1;right:0;top:0;margin:-5px 0 0 -5px;-webkit-transform-origin:0 0;-webkit-transform:rotate(-20deg);-moz-transform-origin:0 0;-moz-transform:rotate(-20deg);-ms-transform-origin:0 0;-ms-transform:rotate(-20deg);transform-origin:0 0;transform:rotate(-20deg)}
footer .copy{margin-bottom:0}
header{background:azul22222;overflow:hidden;}
header .cont-social{background:red222;float:right;}
header .cont-social .social{display:inline-block;list-style:none;padding-left:0;margin:0;}
header .cont-social .social li{padding-bottom:0;display:inline-block;}
header .cont-social .social li a{padding:0 .5em 0 .5em;font-size:2em;text-decoration:none;color:#000}
.container-head{overflow:hidden;height:400px;margin-top:0;z-index:-1;}
.container-head .ar-head{position:relative;height:100%;}
.container-head .ar-head .caption-img{position:absolute;left:32%;bottom:8.5em;}
.container-head .ar-head .caption-img img{width:190px;border-radius:50%;-webkit-filter:grayscale(100%);box-shadow:2px 2px 5px #000}
.container-head .ar-head .caption-center{position:absolute;bottom:0;right:8%;left:8%;margin-top:0;}
.container-head .ar-head .caption-center h3{color:#000;font-size:42px;font-weight:bold;text-shadow:#808080 1px 1px 10px;font-family:'Oxygen',sans-serif;text-align:center;letter-spacing:-1px;padding-bottom:0;margin:0;}
.container-head .ar-head .caption-center h3:after{content:"Hi, I'M KEVIN"}
.container-head .ar-head .caption-center .subtitle{color:#c79f42;font-size:25px;padding-top:0;margin-top:0;text-shadow:#000 2px 2px 1px;font-family:'Roboto',sans-serif;text-align:center;}
.container-head .ar-head .caption-center .subtitle:after{content:"UX DESIGNER & FRONT-END DEVELOPER";letter-spacing:5px}
.container-head .ar-head .caption-coder{position:absolute;top:10px;right:0;background:#22bce0;padding-bottom:.5em;padding-right:.3em;}
.container-head .ar-head .caption-coder:before{border-bottom:26px solid transparent;border-right:20px solid #22bce0;border-top:26px solid #22bce0;border-left:20px solid transparent;content:"";position:absolute;top:0;left:-40px}
.container-head .ar-head .caption-coder h3{margin:0;color:#fff;font-size:40px;text-shadow:#000 3px 2.5px 1px;font-family:'Roboto',sans-serif}
.container-head .ar-head .caption-designer{position:absolute;top:10px;background:#22bce0;padding:0 .3em .5em .3em;}
.container-head .ar-head .caption-designer:after{border-bottom:26px solid #22bce0;border-left:20px solid #22bce0;border-top:26px solid transparent;border-right:20px solid transparent;content:"";position:absolute;top:0;right:-40px}
.container-head .ar-head .caption-designer h3{margin:0;color:#fff;font-size:40px;text-shadow:#000 3px 2.5px 1px;font-family:'Roboto',sans-serif}
.section-about .about{color:#000;font-family:'Oxygen',sans-serif;}
.section-about .about h2{font-size:40px;}
.section-about .about h2 span{border-radius:50%;border:5px solid #000;font-size:30px}
.section-about .about p{text-align:justify}
.section-about .about .about-img{padding-left:30%;}
.section-about .about .about-img img{height:150px;border-radius:50%;margin-left:1em;margin-right:1em}
.conta-about2{position:relative;}
.conta-about2 .section-about-2{color:#000;}
.conta-about2 .section-about-2 .about-2 h2{font-size:40px;}
.conta-about2 .section-about-2 .about-2 h2 span{border-radius:50%;border:5px solid #000;font-size:30px}
.conta-about2 .section-about-2 .about-2 h3 span{font-size:24px;color:#22bce0}
.conta-about2 .section-moreofme{color:#000;margin-top}
.conta-about2 .section-moreofme .moreofme h2{font-size:40px;}
.conta-about2 .section-moreofme .moreofme h2 span{border-radius:50%;border:5px solid #000;font-size:30px}
.conta-about2 .section-moreofme .moreofme .mkt,.conta-about2 .section-moreofme .moreofme .asesoria,.conta-about2 .section-moreofme .moreofme .capacitacion,.conta-about2 .section-moreofme .moreofme .desarrollo{margin:.5em .5em .5em;height:70px;box-shadow:2px 2px 1px #808080;position:relative;}
.conta-about2 .section-moreofme .moreofme .mkt:hover:after,.conta-about2 .section-moreofme .moreofme .asesoria:hover:after,.conta-about2 .section-moreofme .moreofme .capacitacion:hover:after,.conta-about2 .section-moreofme .moreofme .desarrollo:hover:after{position:absolute;font-family:fontello;content:"\e809";top:18px;right:10px;font-size:30px}
.conta-about2 .section-moreofme .moreofme .mkt h2,.conta-about2 .section-moreofme .moreofme .asesoria h2,.conta-about2 .section-moreofme .moreofme .capacitacion h2,.conta-about2 .section-moreofme .moreofme .desarrollo h2{font-size:30px;padding:.6em 0;margin:0;}
.conta-about2 .section-moreofme .moreofme .mkt h2 span,.conta-about2 .section-moreofme .moreofme .asesoria h2 span,.conta-about2 .section-moreofme .moreofme .capacitacion h2 span,.conta-about2 .section-moreofme .moreofme .desarrollo h2 span{border:none}
.conta-about2 .section-moreofme .moreofme .mkt{background:#f2dede;border-left:5px solid #d9534f;color:#d9534f}
.conta-about2 .section-moreofme .moreofme .capacitacion{background:#fcf8e3;border-left:5px solid #f0ad4e;color:#f0ad4e}
.conta-about2 .section-moreofme .moreofme .asesoria{background:#dff0d8;border-left:5px solid #47a447;color:#5cb85c}
.conta-about2 .section-moreofme .moreofme .desarrollo{background:#f4f8fa;color:#22bce0;border-left:5px solid #22bce0}
.conta-about2 .section-moreofme .moreofme .mkt-body{background:#f2dede;margin:-.5em 1em 0 1em;box-shadow:2px 2px 1px #808080}
.conta-about2 .section-moreofme .moreofme .asesoria-body{background:#dff0d8;margin:-.5em 1em 0 1em;box-shadow:2px 2px 1px #808080}
.conta-about2 .section-moreofme .moreofme .capacitacion-body{background:#fcf8e3;margin:-.5em 1em 0 1em;box-shadow:2px 2px 1px #808080}
.conta-about2 .section-moreofme .moreofme .desarrollo-body{background:#f4f8fa;margin:-.5em 1em 0 1em;box-shadow:2px 2px 1px #808080}
.conta-about2 .section-work-process{color:#000;}
.conta-about2 .section-work-process .article-work-process{position:relative;}
.conta-about2 .section-work-process .article-work-process h2{font-size:40px;}
.conta-about2 .section-work-process .article-work-process h2 span{border-radius:50%;border:5px solid #000;font-size:30px}
.conta-about2 .section-work-process .article-work-process .box-par .proceso:before,.conta-about2 .section-work-process .article-work-process .last-box .proceso:before{display:none}
.conta-about2 .section-work-process .article-work-process .proceso:before{font-family:icomoon;content:"\e605";position:absolute;top:40%;right:-10px;margin-top:-10px}
.conta-about2 .section-work-process .article-work-process .proceso .proceso-box{background:#fff;border-radius:50%;text-align:center;height:120px;width:120px;padding:20px 10px;margin:1em auto 3em;}
.conta-about2 .section-work-process .article-work-process .proceso .proceso-box span{font-size:32px;padding:0;margin:0}
.conta-about2 .section-work-process .article-work-process .proceso .proceso-box h4{padding:0;margin:0}
@media (min-width: 768px){header{overflow:hidden;}
header .cont-social{position:relative;float:right;margin-right:2em;}
header .cont-social .social{display:inline-block;margin:0;list-style:none;padding-left:0;}
header .cont-social .social li{display:inline-block;padding-bottom:0;}
header .cont-social .social li a{padding:0 .5em 0 .5em;font-size:3em;color:#000;text-decoration:none;}
header .cont-social .social li a:hover .icon-facebook{color:#808080;-webkit-transition:color .5s ease;-moz-transition:color .5s ease;-o-transition:color .5s ease;transition:color .5s ease}
header .cont-social .social li a:hover .icon-twitter{color:#808080;-webkit-transition:color .5s ease;-moz-transition:color .5s ease;-o-transition:color .5s ease;transition:color .5s ease}
header .cont-social .social li a:hover .icon-envelope{color:#808080;-webkit-transition:color .5s ease;-moz-transition:color .5s ease;-o-transition:color .5s ease;transition:color .5s ease}
.container-head .ar-head{position:relative;}
.container-head .ar-head .caption-center{position:absolute;bottom:0;text-align:center;}
.container-head .ar-head .caption-center h3{color:#fff;font-size:80px;text-shadow:#000 3px 2.5px 1px;font-family:'Roboto',sans-serif;text-align:center;padding-top:0;}
.container-head .ar-head .caption-center h3:after{content:"Hi!, I'M KEVIN.";letter-spacing:5px}
.container-head .ar-head .caption-center .subtitle{color:#c79f42;font-size:35px;text-shadow:#000 3px 2.5px 1px;font-family:'Roboto',sans-serif;text-align:center;}
.container-head .ar-head .caption-center .subtitle:after{content:"UX DESIGNER & FRONT-END DEVELOPER";letter-spacing:5px}
.container-head .ar-head .caption-coder{position:absolute;top:150px;background:#22bce0;padding-bottom:.5em;left:160px;width:190px;}
.container-head .ar-head .caption-coder:after{border-bottom:42px solid transparent;border-left:20px solid #22bce0;border-top:42px solid #22bce0;border-right:20px solid transparent;content:" ";position:absolute;top:0;right:-40px}
.container-head .ar-head .caption-coder:before{border-top:42px solid transparent;border-right:20px solid #22bce0;border-bottom:43px solid #22bce0;border-left:20px solid transparent;content:" ";position:absolute}
.container-head .ar-head .caption-coder h3{color:#fff;margin:0;font-size:70px;text-shadow:#000 3px 2.5px 1px;font-family:'Roboto',sans-serif}
.container-head .ar-head .caption-and{position:absolute;top:118px;left:83px;background:#f00;width:409px;border-top:4px solid #000;}
.container-head .ar-head .caption-and h4{margin:0;padding:0;}
.container-head .ar-head .caption-and h4:before{background:#e8e8e8;content:"&";position:absolute;top:-20px;right:190px;font-size:32px;font-weight:bold;color:#000;padding:0 .6em;margin:0}
.container-head .ar-head .caption-designer{position:absolute;top:10px;background:#22bce0;padding-bottom:.5em;left:150px;}
.container-head .ar-head .caption-designer:after{border-bottom:42px solid transparent;border-left:20px solid #22bce0;border-top:42px solid #22bce0;border-right:20px solid transparent;content:" ";position:absolute;top:0}
.container-head .ar-head .caption-designer:before{border-top:42px solid transparent;border-right:20px solid #22bce0;border-bottom:43px solid #22bce0;border-left:20px solid transparent;content:" ";position:absolute;top:0;left:-40px}
.container-head .ar-head .caption-designer h3{color:#fff;margin:0;font-size:70px;text-shadow:#000 3px 2.5px 1px;font-family:'Roboto',sans-serif}
.container-head .ar-head .caption-img{position:absolute;left:70%;top:30px;}
.container-head .ar-head .caption-img img{width:200px}
.section-about{position:relative;}
.section-about .about .about-img{margin-top:3em;padding-left:15%}
.conta-about2{position:relative;}
.conta-about2 .section-about-2{color:#000}
.conta-about2 .section-moreofme{color:#000;}
.conta-about2 .section-moreofme .servi{position:relative;background:#f00;height:400px;width:250px;}
.conta-about2 .section-moreofme .servi:active{top:2px}
.conta-about2 .section-moreofme .servi figure{position:relative;overflow:hidden;border:1px solid #000;}
.conta-about2 .section-moreofme .servi figure img{position:relative;height:400px;width:250px;opacity:.7;-webkit-transition:opacity .3s;transition:opacity .3s}
.conta-about2 .section-moreofme .servi figure figcaption{position:absolute;top:0;width:100%;text-align:center;background:#00f}
.conta-about2 .section-work-process .article-work-process .box-3ro .proceso:before{display:none}
.conta-about2 .section-work-process .article-work-process .box-par .proceso:before{display:inline}
}@media (max-width: 362px){footer .message ul{padding-left:5%;padding-right:5%;}
footer .message ul li a{padding:0 .5em 0 .5em}
}@media (min-width: 992px){.conta-about2 .section-work-process .article-work-process .box-3ro .proceso:before{display:inline}
}